
.input-item-container {
  margin: 7px;
  display: flex;
  min-height: 30px;
  justify-content: space-between;
}

.button-container {
  position: relative;
  height: 40px;
  margin: 10px;
}
#save {
  position: absolute;
  left:0px;
}
#delete {
  position: absolute;
  right: 0px;
}
