.list-item {
  border: 3px solid #add8e6;
  border-radius: 10px;
  padding: 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 15px;
}


.list-item > p {
  margin: 1px;
}
