* {
  box-sizing: border-box;
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
}
.block-container {
  border: 3px solid #add8e6;
  border-radius: 10px;
  padding: 5px;
  margin: 10px;
}
button {
  color: #007ba7;
  border: 1px solid #add8e6;
  font-size: 15px;
}
button :hover {
  border: 1px solid #007ba7;
}

span {
  display: block;
  margin: 5px;
  border: 2px solid #add8e6;
  border-radius: 10px;
  padding: 7px;
}
